
<!-- <ol  class="nav navbar-nav">-->
<!--   {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}-->
<!-- </ol>-->
<!-- {{ define "breadcrumbnav" }}-->
<!-- {{ if .p1.Parent }}-->
<!-- {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}-->
<!-- {{ else if not .p1.IsHome }}-->
<!-- {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}-->
<!-- {{ end }}-->
<!-- <li{{ if eq .p1 .p2 }} class="active"{{ end }}>-->
<!--   <a href="{{ .p1.Permalink }}">{{ .p1.Title }}</a>-->
<!-- </li>-->
<!-- {{ end }}-->
{{ $siteUrl := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $.Scratch.Add "sitePath" .Site.BaseURL }}

{{ $.Scratch.Add "siteBreadcrumbs" (slice (dict "url" .Site.BaseURL "name" "inicio" "position" 1 )) }}
{{ range $index, $element := split $siteUrl "/" }}
{{ $.Scratch.Add "sitePath" $element }}
{{ $.Scratch.Add "sitePath" "/" }}
{{ if ne $element "" }}
{{ $.Scratch.Add "siteBreadcrumbs" (slice (dict "url" ($.Scratch.Get "sitePath") "name" . "position" (add $index 2))) }}
{{ end }}
{{ end }}

<nav class="breadcrumbs">
    <ul>
        {{ range $.Scratch.Get "siteBreadcrumbs" }}
        <li><a href="{{ .url }}">{{ .name }}</a></li>
        {{ end }}
    </ul>
</nav>


{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $.Scratch.Add "path" .Site.BaseURL }}

{{ $.Scratch.Add "breadcrumb" (slice (dict "url" .Site.BaseURL "name" "home" "position" 1 )) }}
{{ range $index, $element := split $url "/" }}
{{ $.Scratch.Add "path" $element }}
{{ $.Scratch.Add "path" "/" }}
{{ if ne $element "" }}
{{ $.Scratch.Add "breadcrumb" (slice (dict "url" ($.Scratch.Get "path") "name" . "position" (add $index 2))) }}
{{ end }}
{{ end }}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{{ range $.Scratch.Get "breadcrumb" }}{{ if ne .position 1 }},{{ end }}{
        "@type": "ListItem",
        "position": {{ .position }},
        "item": {
          "@id": "{{ .url }}",
          "name": "{{ .name }}"
        }
    }{{ end }}]
}
</script>
