  {{ $src :=  print (index (split .src  ".") 0)}}

<figure>
  <picture class='{{ .class }}'>
  <source 
     srcset="{{ $src }}.1920w.webp 1920w,
              {{ $src }}.960w.webp 960w,
              {{ $src }}.480w.webp 480w"
      sizes="100vw"
      type="image/webp">
    <source
     srcset="{{ $src }}.1920w.jpg 1920w,
              {{ $src }}.960w.jpg 960w,
              {{ $src }}.480w.jpg 480w"
      sizes="100vw"
      type="image/jpeg">
      <img class='{{.class}}' src="{{ $src }}-480.jpg" alt="{{ .alt }}">
  </picture>
  <figcaption>
    <div class='tr f6 pa3 tight black'><a href='/figure/{{ urlize .title}}'>{{.title}}</a>, <a href='/artist/{{ urlize .artist }}'>{{.artist}}</a>, {{.town}}</div>

  </figcaption>
</figure>
