  {{ $src :=  print (index (split .src  ".") 0)}}

<figure>
  <picture class='lozad {{ .class }}'>
  <source 
     srcset="{{ $src }}.1920w.webp 1920w,
              {{ $src }}.960w.webp 960w,
              {{ $src }}.480w.webp 480w"
      sizes="100vw"
      type="image/webp">
    <source
     srcset="{{ $src }}.1920w.jpg 1920w,
              {{ $src }}.960w.jpg 960w,
              {{ $src }}.480w.jpg 480w"
      sizes="100vw"
      type="image/jpeg">
      <!-- <noscript><img class='{{.class}}' src="{{ $src }}-480.jpg" alt="{{ .alt }}"></noscript>-->
  </picture>
  <figcaption>
    {{ .caption }}
  </figcaption>
</figure>
