<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<!-- <div class="measure-narrow center mb4">-->

		<!--   <img src="/img/logo.svg" alt="Logo de Chuncane" class="db w4 center mb4 br0">-->
		<!--   <p class="f3 lh-title light-gray tc mb2">Suscribite a nuestro newsletter</p>-->
		<!--   <p>Recibí un resumen de la agenda cultural todas las semanas.</p>-->

		<!--   {{ partial "newsletter-form" . }}-->

		<!-- </div>-->

		<div class="flex-ns justify-between">

			<div>
				<!-- <h3 class="f4 lh-title mb1">Chuncane</h3>-->
				<ul class="mb3">
					<li class="pv2"><a href="/" class="link">Inicio</a></li>
					<li class="pv2"><a href="/event/" class="link">Agenda</a></li>
					<li class="pv2"><a href="/activitie/" class="link">Actividades</a></li>
					<li class="pv2"><a href="/artist/" class="link">Artistas</a></li>
					<li class="pv2"><a href="/post/" class="link">Blog</a></li>
					<li class="pv2"><a href="/categories/" class="link">Directorio</a></li>
				</ul>
			</div>

			<div>
				<!-- <h3 class="f4 lh-title mb1">Sobre Chuncane</h3>-->
				<ul class="mb3">
					<li class="pv2"><a href="/section/que-es-chuncane/" class="link">Qué es Chuncane</a></li>
					<li class="pv2"><a href="/section/para-participantes/" class="link">Para participantes</a></li>
					<li class="pv2"><a href="/section/para-artistas/" class="link">Para artistas</a></li>
				</ul>
			</div>

			<div>
				<!-- <h3 class="f4 lh-title mb2">Social media</h3>-->
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/Chuncane-485189542249965" "svg" "icons-facebook" "title" "Compartir en Facefook") }}
					{{ partial "social-icon" (dict "link" "https://twitter.com/chuncane" "svg" "icons-twitter" "title" "Compartir en Twitter") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}


  <script src="/app.js"></script>
</body>

</html>
