<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<!-- <div class="measure-narrow center mb4">-->

		<!--   <img src="/img/logo.svg" alt="Logo de Chuncane" class="db w4 center mb4 br0">-->
		<!--   <p class="f3 lh-title light-gray tc mb2">Suscribite a nuestro newsletter</p>-->
		<!--   <p>Recibí un resumen de la agenda cultural todas las semanas.</p>-->

		<!--   {{ partial "newsletter-form" . }}-->

		<!-- </div>-->

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 lh-title mb1">Chuncane</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Inicio</a></li>
					<li><a href="/event" class="link">Agenda</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/categories" class="link">Directorio</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 lh-title mb1">Nuestra misión</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Para participantes</a></li>
					<li><a href="/" class="link">Para artistas</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 lh-title mb2">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
