<footer class="bg-black ph3 pv4 highlight">
	<div class="mw5 mw6-ns pa4 center">
		<div class="flex-ns justify-between">
			<div>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/Maleza-100516827975755" "svg" "icons-facebook" "title" "Compartir en Facefook") }}
					{{ partial "social-icon" (dict "link" "https://twitter.com/Maleza16154259" "svg" "icons-twitter" "title" "Compartir en Twitter") }}
				</ul>
			</div>
		</div>
	</div>
</footer>
{{ partial "svg" . }}
<script src="/app.js"></script>
</body>

</html>
