<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141188337-1"></script>
  <title>
    {{ if eq .Title "Chuncane" }}lo que nos hace únicos{{else}}{{.Title}}{{with .Paginator}} {{ .PageNumber }}{{ end }}{{end}}
    | Chuncane</title>
  <meta name="description" content="{{ .Description | markdownify | plainify | truncate 155 }} {{ with .Summary }}{{ . | markdownify | plainify | truncate 155  }}{{ end }} {{ with .Params.bio }}{{ . | markdownify | plainify | truncate 155  }}{{ end }}{{with .Paginator}} pág. {{ .PageNumber }}{{ end }}{{ if eq .Type "poi"}} Ubicación, eventos y otros datos de interés sobre {{ .Title }}{{ end }}">
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<link rel="stylesheet" type="text/css" media="(min-width: 40em)" href="/css/main-screen-and-min-width-40-em.css" />
	<link rel="stylesheet" type="text/css" media="(min-width: 50em)" href="/css/main-screen-and-min-width-50-em.css" />
	<link rel="stylesheet" type="text/css" media="(min-width: 60em)" href="/css/main-screen-and-min-width-60-em.css" />
  <link rel="preload" as="font" type="font/woff2" crossorigin href="/archivo-regular-webfont.woff2"/>
  <link rel="preload" as="font" type="font/woff2" crossorigin href="/spectral-italic-webfont.woff2"/>
  <link rel="preload" as="font" type="font/woff2" crossorigin href="/spectral-regular-webfont.woff2"/>
  <link rel="preload" as="font" type="font/woff2" crossorigin href="/syne-bold-webfont.woff2"/>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
	<link async type='application/manifest+json' rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#ff4400">
	<meta name="theme-color" content="#180F0D">

	<!-- Open Graph -->
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  {{ template "_internal/schema.html" . }}
  <!-- Schema.org -->
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Blog",
    "url": "https://chuncane.com/blog"
  }
</script>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "Chuncane",
    "url": "https://chuncane.com",
    "sameAs": [
      "https://www.facebook.com/Chuncane",
      "https://twitter.com/chuncane",
      "https://www.instagram.com/chuncanepuntocom"
    ]
  }
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "url": "https://chuncane.com",
  "logo": "https://chuncane.com/img/logo.svg"
}
</script>
</head>
