{{ range first 1 (shuffle (where .Site.RegularPages "Type" "figure")) }}
<div class="mh-50 mh-100-ns vh-50 vh-100-ns overflow-hidden absolute top0 left0">

  <img src='{{range first 1 .Params.images}}{{.}}{{end}}' class='of-cover vw-100 h-100' alt='{{.Title}}'>
</div>
  <div class="mh-50 mh-100-ns vh-50 vh-100-ns mw7 center ph3 pv4">
    <div class="db mb3 o-90">
      <div class="mw7 relative bg-fix-black mb3">
        <h1 class="f-headline-ns f2 di lh-title mb3 white mw6 bg-black tight">
          {{$.Title}}
        </h1>
      </div>
      <div class="mw7 relative bg-fix-black">
        {{ if $.Params.subtitle }}
        <p class="f4 di lh-title mb3 white mw6 bg-black italic">
          {{$.Params.subtitle}}
        </p>
        {{ end }}
      </div>
    </div>
  </div>
<div class='tr f6 pa3 tight black'><a href='/figure/{{ urlize .Title}}'>{{.Title}}</a>, <a href='/artist/{{ urlize .Params.artist }}'>{{.Params.artist}}</a></div>
			{{ end }}

