<!-- <nav class="sans-serif flex justify-between items-center center bg-off-white fixed w-100 top-0 pt1 z-999" style='box-shadow: 1px 1px 1px #FF7E4F;'>-->

<!--   [> Logo <]-->
<!--   <a href="/" class="pa3 db mr4 h-100 w3 flex-none">-->
<!--     <img src="/img/logo.svg" alt="Logo de Chuncane" class="br0 db mb0 w-50"/>-->
<!--   </a>-->

<!--   [> Primary Nav <]-->
<!--   <ul class="overflow-x-scroll overflow-x-visible-ns flex primary">-->
<!--     <li><a href="/activitie/" class="pa3 no-underline db">Actividades</a></li>-->

<!--     <li><a href="/event/" class="pa3 no-underline db">Agenda</a></li>-->

<!--     <li><a href="/post/" class="pa3 no-underline db">Blog</a></li>-->

<!--     <li><a href="/categories/" class="pa3 no-underline db">Directorio</a></li>-->
<!--   </ul>-->

<!-- </nav>-->
<nav class="flex justify-between h3 bg-off-white sans-serif fixed top-0 pt1 z-999 w-100">
  <a href="/" class="pa3 db mr4 h-100 w3 flex-none" style='position: relative; z-index: 9999;'>
    <img src="/img/logo.svg" alt="Logo de Chuncane" class="br0 db mb0 w-50"/>
  </a>

<div class="pa3 items-center transition-transform dn-l" id="hamburger">
<a class="f4 link dib black dim mr3 mr4-ns rotate-90" href="#">|||</a>
</div>

<div class="w-100 pa5 pa1-l flex-l justify-end h-100 h-inherit-l fixed relative-l top-0 right-0 transition-transform transform-off bg-off-white primary" id="sidebar" >
<div class="pa3 items-center transition-transform dn-l absolute top-0 right-0" id="close">
<a class="f4 link dib black dim mr3 mr4-ns" href="#">X</a>
</div>


<a href="/activitie/" class="pa3 no-underline db">Actividades</a>
<a href="/event/" class="pa3 no-underline db">Agenda</a>
<a href="/post/" class="pa3 no-underline db">Blog</a>
<a href="/categories/" class="pa3 no-underline db">Directorio</a>
</div>
</nav>




