<nav class="flex justify-between h3 bg-off-white sans-serif fixed top-0 z-999 w-100">
  <a href="/" class="pa3 db mr4 w2 flex-none relative z-9999">
    <img src="/img/logo.svg" alt="Logo de Chuncane" class="br0 db mb0"/>
  </a>

  <div class="items-center transition-transform dn-l" id="hamburger">
    <span class="pa3 f4 link dib black dim mr3 mr4-ns rotate-90">|||</span>
  </div>

  <div class="overflow-auto w-100 pa5 pa1-l flex-l justify-end h-100 h-inherit-l fixed relative-l top-0 right-0 transition-transform transform-off bg-off-white primary" id="sidebar" >
    <div class="items-center transition-transform dn-l fixed top-0 right-0" id="close">
      <span class="pa3 f4 link dib black dim mr3 mr4-ns">X</span>
    </div>

    <div class='f2 mt4 f5-l mt2-l flex-l'> 
      <a href="/" class="pa2 no-underline db">Inicio</a>
      <a href="/activitie/" class="pa2 no-underline db">Actividades</a>
      <a href="/event/" class="pa2 no-underline db">Agenda</a>
      <a href="/artist/" class="pa2 no-underline db">Artistas</a>
      <a href="/post/" class="pa2 no-underline db">Blog</a>
      <a href="/categories/" class="pa2 no-underline db">Directorio</a>
      <div class="dn-l f3">
        <a href="/section/que-es-chuncane/" class="pa2 no-underline db">Qué es Chuncane</a>
        <a href="/section/para-participantes/" class="pa2 no-underline db">Para participantes</a>
        <a href="/section/para-artistas/" class="pa2 no-underline db">Para artistas</a>
      <div class='mt4'>
				<ul class="mhn2">
				{{ partial "social-icon" (dict "link" "https://www.facebook.com/Chuncane-485189542249965" "svg" "icons-facebook" "title" "Compartir en Facebook") }}
				{{ partial "social-icon" (dict "link" "https://twitter.com/chuncane" "svg" "icons-twitter" "title" "Compartir en Twitter") }}
        </ul>
      </div>
      </div>
    </div>
</nav>




