<div class="bg-grey-1 pv4">
	<div class="ph3 mw7 center">

		<div class="flex-l mhn2-l">
			<div class="w-40-l ph3-l ph3 tr">
				<h2 class="f1 b lh-title mb3 tight">{{.heading}}</h2>

				<p>{{.text}}</p>
			</div>

			<div class="w-60-l ph3-l ph3 mv2">
        <!-- <img data-src="{{.img}}" alt="" class="mb3 lozad">-->
        {{ partial "figure" (dict "src" .img "class" "mb3 lozad" "caption" "") }} 
			</div>
		</div>

		<div class="tc">
			<a href="{{.buttonLink}}" class="btn raise sans-serif asc loose white bg-black">{{.buttonText}}</a>
		</div>

	</div>
</div>
