{{ define "main" }}

  <div class="mw6 center ph4 pv4">
    <h1 class="f2 lh-title mb3">{{.Title}}</h1>
    <div class="flex justify-between grey-3 mb2 f6 italic onum red">
      {{ $time := time .Date }}
      <span class=''>{{ index $.Site.Data.dia (printf "%d" $time.Weekday) }}
      {{ $time.Day }}
      de
      {{ index $.Site.Data.mes (printf "%d" $time.Month) }}
      a las
      {{ $time.Hour }}:{{ $time.Minute }}hs.
      </span>

      <!-- <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>-->
      <p>Tiempo de lectura: {{ .ReadingTime }} minutos</p>
    </div>
    <div class="cms mw6">
      <p>{{ .Description }}</p>
      {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
      {{ .Content }}
    </div>
  </div>
{{ end }}
