/*! TACHYONS v4.5.5 | http://tachyons.io */

/*
 *
 *      ________            ______
 *      ___  __/_____ _________  /______  ______________________
 *      __  /  _  __ `/  ___/_  __ \_  / / /  __ \_  __ \_  ___/
 *      _  /   / /_/ // /__ _  / / /  /_/ // /_/ /  / / /(__  )
 *      /_/    \__,_/ \___/ /_/ /_/_\__, / \____//_/ /_//____/
 *                                 /____/
 *
 *    TABLE OF CONTENTS
 *
 *    1. External Library Includes
 *       - Reset.css | http://meyerweb.com/eric/tools/css/reset/
 *    2. Tachyons Modules
 *    3. Variables
 *       - Media Queries
 *       - Colors
 *    4. Debugging
 *       - Debug all
 *       - Debug children
 *
 */


/* External Library Includes */
@import './imports/_reset';

/* Modules */
@import './imports/_box-sizing';
@import './imports/_images';
@import './imports/_background-size';
@import './imports/_background-position';
@import './imports/_outlines';
@import './imports/_borders';
@import './imports/_border-radius';
@import './imports/_border-style';
@import './imports/_border-widths';
@import './imports/_border-colors';
@import './imports/_code';
@import './imports/_coordinates';
@import './imports/_clears';
@import './imports/_display';
@import './imports/_flexbox';
@import './imports/_floats';
@import './imports/_font-style';
@import './imports/_font-weight';
@import './imports/_forms';
@import './imports/_heights';
@import './imports/_line-height';
@import './imports/_links';
@import './imports/_lists';
@import './imports/_max-widths';
@import './imports/_widths';
@import './imports/_overflow';
@import './imports/_position';
@import './imports/_opacity';
@import './imports/_spacing';
@import './imports/_text-decoration';
@import './imports/_text-align';
@import './imports/_text-transform';
@import './imports/_type-scale';
@import './imports/_typography';
@import './imports/_utilities';
@import './imports/_visibility';
@import './imports/_white-space';
@import './imports/_vertical-align';
@import './imports/_states';
@import './imports/_z-index';
@import './imports/_styles';
@import './imports/_buttons';
@import './imports/_svg';
@import './imports/_cms';

/* Variables */
/* Importing here will allow you to override any variables in the modules */
@import './imports/_colors';
@import './imports/_media-queries';
@import './imports/_variables';

/* Debugging */
@import './imports/_debug-children';
@import './imports/_debug-grid';

p {
  margin: 0;
  font-variant-numeric: oldstyle-nums proportional-nums;
}
p + p {
  text-indent: 1rem;
}
h1, h2, h3 {
  font-family: synebold, sans-serif;
}
.sans-serif {
  font-family: archivoregular, sans-serif;
  font-weight: normal;
}
.italic {
  font-family: spectralitalic, serif;
}
.red {
  color: #CB2631;
}
.onum {
  font-variant-numeric: oldstyle-nums proportional-nums;
}
.loose {
  letter-spacing: .05em;
}
.tight {
  letter-spacing: -.03em;
}
.asc {
  font-variant-caps: all-small-caps;
}
/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on April 16, 2019 */



@font-face {
    font-family: 'archivoregular';
    font-display: swap;
    src: url('/archivo-regular-webfont.woff2') format('woff2'),
         url('/archivo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'synebold';
    font-display: swap;
    src: url('/syne-bold-webfont.woff2') format('woff2'),
         url('/syne-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'spectralitalic';
    font-display: swap;
    src: url('/spectral-italic-webfont.woff2') format('woff2'),
         url('/spectral-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'spectralregular';
    font-display: swap;
    src: url('/spectral-regular-webfont.woff2') format('woff2'),
         url('/spectral-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* Uncomment out the line below to help debug layout issues */
/*@import './imports/_debug';*/
.transition-transform {
  transition: transform 0.2s ease-in;
}
.transform-off {
  transform: translate3d( 100%, 0, 0 );
}

@media screen and (min-width: 60em) {
 .transform-off {
   transform: none;
  }

}
.rotate-90 {
  transform: rotate(90deg);
}
