{{ define "main" }}


{{ partial "jumbotron" (dict "imageUrl" "/img/quilt.png" "title" "Nuestros lugares" "obra" "Varios" "artista" "Mariano Melidone" "pueblo" "Carpintería") }}

<!-- {{ partial "short-text" .Params.blurb}}-->

<!-- {{ partial "2-up" .Params }}-->

{{ partial "agenda" . }}
{{ partial "text-and-image" (dict "img" .Params.values.img "heading" .Params.values.heading "text" .Params.values.text "buttonText" .Params.values.buttonText "buttonLink" .Params.values.buttonLink) }}

{{ partial "blog" . }}

{{ end }}
