{{ define "main" }}


{{ partial "jumbotron" . }}

<!-- {{ partial "short-text" .Params.blurb}}-->

<!-- {{ partial "2-up" .Params }}-->

<div class="center mw5 mw6-ns pa4">
  <h2 class='f4 f2-ns mb3 loose'>PROYECTOS</h2>
  <ol class=''>
    <li class='pv3'><a href='https://marianomelidone.hashbase.io' target='blank'>Mariano Melidone</a></li>
    <li class='pv3'><a href='https://lacomechingona.com' target='blank'>La Comechingona</a></li>
    <li class='pv3'><a href='https://chuncane.com' target='blank'>Chuncane</a></li>
  </ol>
</div>
{{ end }}
