<a href="{{ .URL }}" class="no-underline mb2 db w-100 pa3">
      {{ $time := time .Params.startDate }}
      <span class='grey-3 mb2 f6 italic onum red dib'>{{ index $.Site.Data.dia (printf "%d" $time.Weekday) }}
      {{ $time.Day }}
      de
      {{ index $.Site.Data.mes (printf "%d" $time.Month) }}
      a las
      {{ $time.Hour }}:{{ $time.Minute }}hs.
      </span>
      <h2 class="f3 lh-title mb1 primary tight">{{ .Title }}</h2>
      <h3 class='performer'>{{ .Params.performer.performerName }}</h3>
      <p>en {{ .Params.location }}</p>
	<span class="link dib black mb0 sans-serif asc loose mt1">Seguí leyendo →</span>
</a>
