{{ define "main" }}

  <div class="mw6 center ph4 pv4">
  {{ $time := time .ExpiryDate.Local }}
  <span class='italic red'>{{ $time.Day }} de {{ index $.Site.Data.mes (printf "%d" $time.Month) }} de {{ $time.Year }} a las {{$time.Hour}}:{{$time.Minute}}hs.
</span>
      <h1 class="f2 lh-title mb3 primary tight word-wrap">{{ .Title }}</h1>
    <div class="cms mw6">
      <p>{{ .Params.description }}</p>
      <h3 class='performer'>{{ .Params.performer }}</h3>
      {{ with .Params.location }}
      <h4><a class='' href='/poi/{{ . | urlize }}/'>{{ . }}</a></h4>
      {{ end }}
      {{ with .Params.lugar }}
      <h4>{{ . }}</h4>
      {{ end }}
      <p>

    </div>
{{ partial "share-buttons.html" . }}
  </div>
  {{ $loc := where .Site.Pages "Type" "poi" | intersect (where .Site.Pages "Title" .Params.location) }}
  {{ $location := index $loc 0 }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Event",
  "name": "{{ .Title }}",
  "startDate": "{{ print $time }}",
  "location": {
    "@type": "Place",
    "name": "{{ $location.Title }}",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "{{ $location.Params.location.address.streetaddress }}", 
      "addressLocality": "{{ $location.Params.location.address.addresslocality }}",
      "postalCode": "{{ $location.Params.location.address.postalcode }}",
      "addressRegion": "{{ $location.Params.location.address.addressregion }}",
      "addressCountry": "AR"
    }
  },
  "image": {{ .Params.images }},
  "description": "{{ .Description }}"
}
</script>
{{ end }}
