{{ define "main" }}

  <div class="mw6 center ph3 pv4">
    <h1 class="f1 lh-title mb3 tight">{{.Title}}</h1>
    <div class="flex justify-between grey-3">
    </div>
    <div class="cms mw6">
      <p>{{ .Params.bio }}</p>
      {{ if .Params.avatar }}<img src="{{ .Params.avatar }}" alt="{{ .Params.name }} {{ .Params.lastname}}" />{{ end }}
      {{ .Params.town }}
      {{ .Params.tagline }}
      {{ .Params.email }}
      {{ .Params.facebook }}
      {{ .Params.instagram }}
      {{ .Params.twitter }}
      {{ .Params.web }}
{{ $obras := where .Site.Pages "Type" "figure" }}
{{ $porartista := where .Site.Pages "Params.artist" .Title }}
{{ $filtered := $obras | intersect $porartista }}
	<div class="flex flex-wrap mhn1">
{{ range $filtered }}
		<div class="w-100 w-50-ns ph1-ns">
			<img src="{{ .Params.images }}" alt="{{ .Title }}">
		</div>
{{.Title}}
{{ end }}
  </div>
    </div>
  </div>

{{ end }}
